.dashboard{
    width: 85%;
    padding: 25px;
    background-color: green;
}
.drag-over{

}

.drag-over::after{
    content: "Drop here";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 25px;
    background-color: #FFBA10;
    border-color: black;
    border-style: dotted;
}

